<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Hi  <td th:text="${user}"></td> You are successfully logged in to the system </p>
	<p>API for integration are like below - </p>
	<p> Subscription end point: <td th:text="${SubscriptionURL}"></td>  </p>
	<p> Openid login end point: <td th:text="${LoginURL}"></td>  </p>
	<p> Openid logout end point: <td th:text="${LogoutURL}"></td>  </p>
	
	<p> Below are the list of REST APIs outside security scope </p>
	<p> User List in the system: <td th:text="${UserListURL}"></td> </p>
	<p> Account List in the system: <td th:text="${AccountList}"></td> </p>
	
	
    <p>Logout Here <a href="/logout">here</a></p>
</body>
</html>